html.jsb {
  background-color: var(--jse-panel-background, #ebebeb);
}
html.jsb:not([data-loaded=true]) body::after {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7) url(chrome-extension://__MSG_@@extension_id__/data/view/loading.svg) center center no-repeat;
}
html.jsb[data-loaded="true"] body {
  margin: 0 !important;
}

html.jsb body pre {
  all: initial;
  margin: 0;
}
html.jsb body {
  height: 100vh;
}

svg.rotating {
  animation: rotating 1s linear infinite;
}

/* search on long json objects */
#json-editor {
  height: 100vh;
}

@keyframes rotating {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
