.save {
  fill: #bad2fe;
}

@media (prefers-color-scheme: dark) {
  .jsoneditor .autocomplete.dropdown .item {
    color: #333;
  }

  .jsoneditor .autocomplete.dropdown .item.hover {
    background-color: #ddd;
  }

  .jsoneditor .autocomplete.hint {
    color: #aaa;
  }

  .jsoneditor-contextmenu .jsoneditor-menu button {
    color: #bbbbbb;
  }
  .jsoneditor-contextmenu .jsoneditor-menu button:hover,
  .jsoneditor-contextmenu .jsoneditor-menu button:focus {
    color: #bbbbbb;
    background-color: #484848;
  }

  .jsoneditor-contextmenu .jsoneditor-menu li button.jsoneditor-selected,
  .jsoneditor-contextmenu .jsoneditor-menu li button.jsoneditor-selected:hover,
  .jsoneditor-contextmenu .jsoneditor-menu li button.jsoneditor-selected:focus {
    color: #bbbbbb;
    background-color: #41478a;
  }

  .jsoneditor-contextmenu .jsoneditor-menu li ul li button:hover,
  .jsoneditor-contextmenu .jsoneditor-menu li ul li button:focus {
    background-color: #484848;
  }

  .jsoneditor-modal {
    border-color: #252529;
    box-shadow: 2px 2px 12px rgba(34, 34, 34, 0.3);
    color: #4d4d4d;
  }
  .jsoneditor-modal .pico-modal-header {
    color: #bbbbbb;
  }
  .jsoneditor-modal a {
    color: #888888;
  }

  .jsoneditor-modal .jsoneditor-jmespath-block {
    margin-bottom: 10px;
  }
  /* Todo: xccds */
  .jsoneditor-modal .jsoneditor-jmespath-block textarea {
    background-color: #252529;
  }

  .jsoneditor-modal .pico-close {
    color: #ffffff;
  }
  .jsoneditor-modal input[disabled] {
    background: #d3d3d3;
    color: #808080;
  }
  .jsoneditor-modal .jsoneditor-transform-preview.jsoneditor-error {
    color: #ee422e;
  }
  .jsoneditor-modal .jsoneditor-jmespath-label {
    color: #41478a;
  }
  .jsoneditor-modal .selectr-selected {
    border-color: #484848;
  }

  .jsoneditor-modal .selectr-selected .selectr-tag {
    background-color: #252529;
  }

  .jsoneditor-modal table th,
  .jsoneditor-modal table td {
    color: #4d4d4d;
  }

  .jsoneditor-modal select,
  .jsoneditor-modal textarea,
  .jsoneditor-modal input,
  .jsoneditor-modal input[type="text"],
  .jsoneditor-modal input[type="text"]:focus,
  .jsoneditor-modal #query {
    background: #1c1c1f;
    border-color: #1c1c1f;
    color: #bbbbbb;
  }
  .jsoneditor-modal .jsoneditor-button-group.jsoneditor-button-group-value-asc input.jsoneditor-button-asc,
  .jsoneditor-modal .jsoneditor-button-group.jsoneditor-button-group-value-desc input.jsoneditor-button-desc {
    background: #252529;
    border-color: #252529;
    color: #bbbbbb;
  }
  .jsoneditor {
    border: thin solid #252529;
  }
  div.jsoneditor-value.jsoneditor-string {
    color: #d86f37;
  }
  div.jsoneditor-value.jsoneditor-number {
    color: #4aaa72;
  }
  div.jsoneditor-value.jsoneditor-boolean {
    color: #b1a128;
  }
  div.jsoneditor-value.jsoneditor-null {
    color: #6f6f6f;
  }
  div.jsoneditor-value.jsoneditor-invalid {
    color: #b11111;
  }
  div.jsoneditor-readonly {
    color: #808080;
  }
  div.jsoneditor-empty {
    border-color: #d3d3d3;
  }
  div.jsoneditor td.jsoneditor-separator {
    color: #808080;
  }
  div.jsoneditor.busy pre.jsoneditor-preview {
    background: #f5f5f5;
    color: #808080;
  }
  div.jsoneditor-default {
    color: #808080;
    padding-left: 10px;
  }
  div.jsoneditor-tree {
    background-color: #252529;
  }
  div.jsoneditor-tree button.jsoneditor-button:focus {
    background-color: #f5f5f5;
    outline: #e5e5e5 solid 1px;
  }
  div.jsoneditor-tree div.jsoneditor-show-more {
    background-color: #e5e5e5;
    color: #808080;
  }
  div.jsoneditor-tree div.jsoneditor-show-more a {
    color: #808080;
  }
  div.jsoneditor-tree div.jsoneditor-date {
    background: #a1a1a1;
    color: #ffffff;
  }
  div.jsoneditor-busy span {
    background-color: #ffffab;
    border: 1px solid #ffee00;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  }
  div.jsoneditor-field.jsoneditor-empty::after,
  div.jsoneditor-value.jsoneditor-empty::after {
    color: #bbbbbb;
  }
  div.jsoneditor-value.jsoneditor-url,
  a.jsoneditor-value.jsoneditor-url {
    color: #0775bf;
  }
  a.jsoneditor-value.jsoneditor-url:hover,
  a.jsoneditor-value.jsoneditor-url:focus {
    color: #ee422e;
  }
  div.jsoneditor-field[contenteditable="true"]:focus,
  div.jsoneditor-field[contenteditable="true"]:hover,
  div.jsoneditor-value[contenteditable="true"]:focus,
  div.jsoneditor-value[contenteditable="true"]:hover,
  div.jsoneditor-field.jsoneditor-highlight,
  div.jsoneditor-value.jsoneditor-highlight {
    background-color: #37373b;
    border: 1px solid #252529;
  }
  div.jsoneditor-field.jsoneditor-highlight-active,
  div.jsoneditor-field.jsoneditor-highlight-active:focus,
  div.jsoneditor-field.jsoneditor-highlight-active:hover,
  div.jsoneditor-value.jsoneditor-highlight-active,
  div.jsoneditor-value.jsoneditor-highlight-active:focus,
  div.jsoneditor-value.jsoneditor-highlight-active:hover {
    background-color: #f2a654;
    border-color: #f2a654;
  }
  div.jsoneditor-tree div.jsoneditor-show-more a:hover,
  div.jsoneditor-tree div.jsoneditor-show-more a:focus {
    color: #ee422e;
  }
  textarea.jsoneditor-text {
    background-color: rgb(37, 37, 41);
  }
  tr.jsoneditor-highlight,
  tr.jsoneditor-selected {
    background-color: #1c1c1f;
  }
  div.jsoneditor-field,
  div.jsoneditor-value,
  div.jsoneditor td,
  div.jsoneditor th,
  div.jsoneditor textarea,
  pre.jsoneditor-preview {
    color: #bbbbbb;
  }
  .jsoneditor-popover {
    background-color: #4c4c4c;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    color: #ffffff;
  }
  .jsoneditor .jsoneditor-additional-errors {
    color: #808080;
    background-color: #ebebeb;
  }
  .jsoneditor .jsoneditor-text-errors tr {
    background-color: #ffffab;
  }
  .jsoneditor .jsoneditor-text-errors tr.parse-error {
    background-color: #ee2e2e70;
  }
  .jsoneditor .jsoneditor-text-errors td,
  .jsoneditor-schema-error, .jsoneditor-popover,
  .jsoneditor .jsoneditor-text-errors td pre {
    color: #000;
  }
  .jsoneditor-menu {
    color: #888888;
    background-color: #1c1c1f;
    border-bottom: 1px solid #1c1c1f;
  }

  .jsoneditor-menu > button,
  .jsoneditor-menu > .jsoneditor-modes > button {
    color: #ffffff;
  }
  .jsoneditor-menu > button:hover,
  .jsoneditor-menu > .jsoneditor-modes > button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.4);
  }
  .jsoneditor-menu > button:focus,
  .jsoneditor-menu > button:active,
  .jsoneditor-menu > .jsoneditor-modes > button:focus,
  .jsoneditor-menu > .jsoneditor-modes > button:active {
    background-color: rgba(255, 255, 255, 0.3);
  }
  .jsoneditor-menu > button:disabled,
  .jsoneditor-menu > .jsoneditor-modes > button:disabled {
    background-color: transparent;
    color: #bbbbbb !important;
  }
  .jsoneditor-menu a {
    color: #ffffff;
  }
  .jsoneditor-navigation-bar {
    border-bottom: 1px solid #484848;
    color: #bbbbbb;
    background-color: #484848;
  }
  .jsoneditor-search input {
    color: #1a1a1a;
  }
  .jsoneditor-results {
    color: #767676;
  }

  .jsoneditor-frame {
    background-color: #252529;
  }

  .jsoneditor-frame input[type="text"]{
    background-color: #252529;
    color: #888888;
  }

  .jsoneditor-statusbar {
    color: #808080;
    background-color: #252529;
  }
  .jsoneditor-treepath.show-all {
    background-color: #ebebeb;
    box-shadow: 2px 2px 12px rgba(128, 128, 128, 0.3);
  }
  .jsoneditor-treepath .jsoneditor-treepath-show-all-btn {
    background-color: #ebebeb;
  }
  .selectr-selected {
    border: 1px solid #999999;
    background-color: #ffffff;
  }
  .selectr-selected::before {
    border-color: #6c7a86 transparent transparent;
  }
  .selectr-container.open .selectr-selected::before,
  .selectr-container.native-open .selectr-selected::before {
    border-color: transparent transparent #6c7a86;
  }
  .selectr-placeholder {
    color: #6c7a86;
  }
  .selectr-tag {
    color: #ffffff;
  }
  .selectr-options-container {
    border-color: transparent #999999 #999999;
    background-color: #ffffff;
  }
  .selectr-clear::before,
  .selectr-clear::after,
  .selectr-input-clear::before,
  .selectr-input-clear::after,
  .selectr-tag-remove::before,
  .selectr-tag-remove::after {
    background-color: #6c7a86;
  }
  .selectr-tag-remove::before,
  .selectr-tag-remove::after {
    background-color: #ffffff;
  }
  .selectr-notice {
    border-top: 1px solid #999999;
    background-color: #ffffff;
  }
  .selectr-option.selected {
    background-color: #ddd;
  }
  .selectr-option.active {
    color: #ffffff;
    background-color: #5897fb;
  }
  .selectr-container.open .selectr-selected {
    border-color: #999999 #999999 transparent #999999;
  }
  .selectr-input-container.loading::after {
    border-color: #aaa #ddd #ddd;
  }
  .selectr-container.open.inverted .selectr-selected {
    border-color: transparent #999999 #999999;
  }

  .selectr-container.inverted .selectr-options-container {
    border-color: #999999 #999999 transparent;
    background-color: #ffffff;
  }
  .selectr-container ::-webkit-input-placeholder {
    color: #6c7a86;
  }
  .selectr-container ::-moz-placeholder {
    color: #6c7a86;
  }
  .selectr-container :-ms-input-placeholder {
    color: #6c7a86;
  }
  .selectr-container ::placeholder {
    color: #6c7a86;
  }
  .save {
    fill: #adadae;
  }
}
