body:not([data-loaded=true])::after {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7) url(chrome-extension://__MSG_@@extension_id__/data/view/loading.svg) center center no-repeat;
}
body[data-loaded=true] {
  margin: 0;
}

pre {
  margin: 0;
}
